@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap');

@import "tailwindcss";
@import "./video-player.css";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif;
  
  --font-lilita:
    'Lilita One', ui-sans-serif, system-ui, sans-serif;

  --color-blue-50: oklch(0.984 0.010 259.6);
  --color-blue-100: oklch(0.906 0.047 259.3);
  --color-blue-200: oklch(0.803 0.100 258.9);
  --color-blue-300: oklch(0.655 0.165 260.0);
  --color-blue-400: oklch(0.6226 0.158185 245.4437);
  --color-blue-500: oklch(0.5638 0.1427 245.28);
  --color-blue-600: oklch(0.483 0.12189 245.1211);
  --color-blue-700: oklch(0.279 0.130 261.6);
  --color-blue-800: oklch(0.179 0.083 262.1);
  --color-blue-900: oklch(0.087 0.040 262.5);
}

/* Custom Animations */
@keyframes scalePulse {
  0%, 100% {
    transform: scale(0.92);
  }
  50% {
    transform: scale(1.00);
  }
}

.scale-pulse {
  animation: scalePulse 5s ease-in-out infinite;
}

.box-shadow-default {
  box-shadow: 0 0px 60px rgba(0, 0, 0, 0.06);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
